/*Univerzális CSS paraméterek*/
body {
    font-family: 'Helvetica', 'Arial', sans-serif;

    background-color: #fafafa;

    margin: 0px 0px;
}
a {
    text-decoration: none;
}
a.active {
    background-color: #d4a373;
}
a:visited {
    color: black;

    text-decoration: none;
}
#menuBar .notActive:hover {
    animation: bgColorOnHover 0.4s forwards, widthOnHover 0.4s forwards;
}
#menuBar a:hover {
    animation: widthOnHover 0.4s forwards;
}

@keyframes bgColorOnHover {
    from {}

    to {
        background-color: #faedcd;
    }
}

@keyframes widthOnHover {
    from {}

    to {
        width: 20%;
    }
}


/*Fejléc paraméterek*/
#indexHeader {
    border: 3px solid black;
    border-radius: 15px;

    /*A képernyő 80%-át használja fel*/
    width: 80%;

    margin: auto;
    margin-top: 20px;

    /*ne lógjon ki a menü elemek háttere a sarkokon*/
    overflow: hidden;

    z-index: 999;
}
/*Felső infó bar*/
#infoBar {
    border-bottom: 2px solid black;

    display: flex;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;
}
#closingHours {
    margin-left: 50px;
    margin-right: 50px;

    width: 33%;

    float: left;
}
#closingHours p {
    text-align: left;
    
    margin: 0px 0px 0px 0px;
}
/*Ikon*/
#closingHours p::before {
    /*content --> elem beszúrása (ez nélkül nem jelenik meg az ikon)*/
    content: '';

    background: url('./img/calendar.png');
    background-size: cover;

    position: absolute;

    /*20 - 20 --> az ikon mérete, ahogy megjelenítődik*/
    width: 20px;
    height: 20px;

    /*-25 --> ne lógjon bele a szövegbe*/
    margin-left: -25px;
}
#phoneNumber {
    margin-left: 50px;
    margin-right: 50px;

    width: 33%;

    float: right;
}
#phoneNumber p {
    text-align: center;

    margin: 0px 0px 0px 0px;
}
/*Ikon*/
#phoneNumber p::before {
    content: '';

    background: url('./img/phone.png');
    background-size: cover;

    position: absolute;

    width: 20px;
    height: 20px;

    margin-left: -25px;
}
#location {
    margin-left: 50px;
    margin-right: 50px;

    width: 33%;
}
#location p {
    text-align: right;

    margin: 0px 0px 0px 0px;
}
/*Ikon*/
#location p::before {
    content: '';

    background: url('./img/map.png');
    background-size: cover;

    position: absolute;

    width: 20px;
    height: 20px;

    margin-left: -25px;
}

/*Név részleg*/
#name {
    padding-top: 40px;
    padding-bottom: 40px;

    border-bottom: 2px solid black;

    background-image: url(./img/bg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: rgb(241, 241, 241);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    
    text-shadow: 2px 2px 10px #000;
}
#name h1 {
    text-align: center;

    word-spacing: 10px;
    letter-spacing: 1px;

    font-weight: bold;
    font-size: 50px;

    margin-bottom: 0px;
}
#name h2 {
    text-align: center;

    font-weight: normal;

    margin-top: 10px;
}

/*Menü navbar*/
#menuBar {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
}
#menuBar a {
    /*24 --> padding + font-size-nak 43-nak kell lennie hogy betöltse a helyet, de ne legyen overflow*/
    padding: 24px;

    font-size: 19px;

    border-left: 1px solid black;

    /*15% --> 100 / elérhető elemek száma (hogy mindegyiknek ugyanakkora helye legyen, de igazából ha 100+% a szélesség, akkor ugyanakkora marad, tehát lehet akár 60% is)*/
    width: 15%;

    text-align: center;
}

/*Header reszponzivitás*/
/*Ha lesz rá türelmem, még megcsinálom*/
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {
    #indexHeader {
        width: 100%;
    }

    #infoBar p {
        font-size: 12px;
    }

    #infoBar div {
        margin-left: 30px;
        margin-right: 30px;
    }

    #menuBar a {
        font-size: 12px;
        width: 6.2%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    #menuBar a {
        font-size: 14px;
        width: 10%;
    }
}
@media only screen and (min-width: 1200px) {
    #indexHeader {
        width: 80%;
    }

    #infoBar p {
        font-size: 16px;
    }

    #infoBar div {
        margin-left: 40px;
        margin-right: 40px;
    }

    #menuBar a {
        padding: 25px;

        font-size: 16px;

        width: 15%;
    }
}


/*index.html*/
/*Introduction szekció*/
#introduction {
    display: flex;

    position: static;

    margin-top: 100px;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#introduction video {
    width: 50%;
    height: fit-content;

    margin: auto;

    margin-left: 100px;

    clear: left;

    position: relative;
}

#introductionText {
    margin-left: 80px;
    margin-right: 80px;

    padding-top: 30px;
    width: 50%;
}
#introductionText strong {
    font-size: 40px;
}
#introductionText #year {
    color: red;
}
#introductionText p {
    text-align: justify;

    font-size: 20px;
}
#introductionText p::first-letter {
    font-size: 24px;
}
#introductionText a[id="selfServiceLink"] {
    /*Talán majd meg kell változtatni*/
    color: red;
}


/*Idézet szekció*/
.quote {
    background-image: url('./img/quoteBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.quote p {
    padding-top: 100px;
    padding-bottom: 100px;

    margin: 0px 0px;
    text-align: center;

    font-size: 50px;

    letter-spacing: 2px;
    word-spacing: 2px;

    color: #fff;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #000;

    text-shadow: 2px 2px 10px #000;
}

/*Reszponzivitás*/
/*Ha lesz rá türelmem, még megcsinálom*/
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {
    #introduction {
        display: block;
    }

    #introduction video {
        margin-left: 0px;
        margin-right: 0px;

        display: block;
        margin: auto;

        width: 600px;
    }

    #introductionText {
        margin-left: 20px;
        margin-right: 20px;

        margin: auto;

        width: 95%;
    }

    #introductionText p:last-of-type {
        margin-bottom: 0px;
        padding-bottom: 30px;
    }
}
@media only screen and (min-width: 768px) {
    #introduction video {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 10px;

        display: block;
        margin: auto;

        width: 700px;
    }

    #introductionText {
        margin-left: 40px;
        margin-right: 40px;

        width: 90%;
    }
}
@media only screen and (min-width: 992px) {
    #introductionText {
        margin-left: 40px;
        margin-right: 40px;

        display: block;
        margin: auto;
    }
}
@media only screen and (min-width: 1200px) {
    #introduction {
        display: flex;
        align-items: center;
    }

    #introduction video {
        width: 50%;
        height: fit-content;
    
        margin: 0px;
    
        margin-left: 100px;
    
        clear: left;
    
        position: relative;
    }

    #introductionText {
        margin-left: 80px;
        margin-right: 80px;
    
        padding-top: 30px;
        width: 50%;
    }
}


/*selfService.html*/
/*Cím*/
.title {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/*Teljes formra kiható*/
#selfServiceForm {
    font-size: 18px;
}
#selfServiceForm li {
    list-style: none;
}
#selfServiceForm legend {
    font-size: 24px;
    font-weight: bold;
}
#selfServiceForm input {
    padding: 7px 7px;
    margin-top: 5px;
    margin-bottom: 5px;

    border: 2px solid #000;
    border-radius: 4px;
}
#selfServiceForm fieldset {
    margin-left: 20px;
    margin-right: 20px;
}

/*Személyes adatok*/
#personalInfo input {
    width: 450px;
}
#personalInfo input:focus {
    animation: borderOnFocus 0.2s;
    animation-fill-mode: forwards;
    border-radius: 4px;

    outline: none;
}

/*Személyes adatok + munkával kapcsolatos kérdések*/
#formInputs {
    display: flex;
    justify-content: center;
}
#formInputs fieldset {
    width: 480px;
}

/*Gombok*/
#inputButtons {
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
}
#inputButtons input {
    width: 511px;

    margin-left: 20px;
    margin-right: 20px;

    background-color: #faedcd;

    animation: inputButtonBgColorOnHover 0.4s forwards;

    font-size: 16px;
}

@keyframes inputButtonBgColorOnHover {
    from {}
    to {
        background-color: #d4a373;
    }
}

/*Border animáció*/
@keyframes borderOnFocus {
    100% {
        border: 2px solid rgb(206, 86, 0);
    }
}

/*Reszponzivitás*/
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {
    #formInputs {
        display: block;
}

    #formInputs fieldset {
        margin: auto;
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 768px) {
    #formInputs fieldset {
        width: 600px;
    }
}
@media only screen and (min-width: 1200px) {
    #formInputs {
        display: flex;
        justify-content: center;
    }

    #formInputs fieldset {
        margin: 0px;
        margin-left: 20px;
        margin-right: 20px;
        width: 480px;
    }
} 