body {
    font-family: 'Helvetica', 'Arial', sans-serif;

    background-color: #fafafa;

    margin: 0px 0px;
}
a {
    text-decoration: none;
}
a.active {
    background-color: #d4a373;
}
a:link {
    color: black;
}
a:active {
    color: black;
}
a:visited {
    color: black;

    text-decoration: none;
}
#menuBar .notActive:hover {
    animation: bgColorOnHover 0.4s forwards, widthOnHover 0.4s forwards;
}
#menuBar a:hover {
    animation: widthOnHover 0.4s forwards;
}

@keyframes bgColorOnHover {
    100% {
        background-color: #faedcd;
    }
}

@keyframes widthOnHover {
    100% {
        width: 20%;
    }
}


/*Fejléc paraméterek*/
#indexHeader {
    border: 3px solid black;
    border-radius: 15px;

    /*A képernyő 80%-át használja fel*/
    width: 80%;

    margin: auto;
    margin-top: 20px;

    /*ne lógjon ki a menü elemek háttere a sarkokon*/
    overflow: hidden;

    z-index: 999;
}
/*Felső infó bar*/
#infoBar {
    border-bottom: 2px solid black;

    display: flex;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;
}
#closingHours {
    margin-left: 50px;
    margin-right: 50px;

    width: 33%;

    float: left;
}
#closingHours p {
    text-align: left;
    
    margin: 0px 0px 0px 0px;
}
/*Ikon*/
#closingHours p::before {
    /*content --> elem beszúrása (ez nélkül nem jelenik meg az ikon)*/
    content: '';

    background: url('./img/calendar.png');
    background-size: cover;

    position: absolute;

    /*20 - 20 --> az ikon mérete, ahogy megjelenítődik*/
    width: 20px;
    height: 20px;

    /*-25 --> ne lógjon bele a szövegbe*/
    margin-left: -25px;
}
#phoneNumber {
    margin-left: 50px;
    margin-right: 50px;

    width: 33%;

    float: right;
}
#phoneNumber p {
    text-align: center;

    margin: 0px 0px 0px 0px;
}
/*Ikon*/
#phoneNumber p::before {
    content: '';

    background: url('./img/phone.png');
    background-size: cover;

    position: absolute;

    width: 20px;
    height: 20px;

    margin-left: -25px;
}
#location {
    margin-left: 50px;
    margin-right: 50px;

    width: 33%;
}
#location p {
    text-align: right;

    margin: 0px 0px 0px 0px;
}
/*Ikon*/
#location p::before {
    content: '';

    background: url('./img/map.png');
    background-size: cover;

    position: absolute;

    width: 20px;
    height: 20px;

    margin-left: -25px;
}

/*Név részleg*/
#name {
    padding-top: 40px;
    padding-bottom: 40px;

    border-bottom: 2px solid black;

    background-image: url(./img/bg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: rgb(241, 241, 241);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    
    text-shadow: 2px 2px 10px #000;
}
#name h1 {
    text-align: center;

    word-spacing: 10px;
    letter-spacing: 1px;

    font-weight: bold;
    font-size: 50px;

    margin-bottom: 0px;
}
#name h2 {
    text-align: center;

    font-weight: normal;

    margin-top: 10px;
}

/*Menü navbar*/
#menuBar {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
}
#menuBar a {
    /*24 --> padding + font-size-nak 43-nak kell lennie hogy betöltse a helyet, de ne legyen overflow*/
    padding: 24px;

    font-size: 19px;

    border-left: 1px solid black;

    /*15% --> 100 / elérhető elemek száma (hogy mindegyiknek ugyanakkora helye legyen, de igazából ha 100+% a szélesség, akkor ugyanakkora marad, tehát lehet akár 60% is)*/
    width: 15%;

    text-align: center;
}

/*Header reszponzivitás*/
/*Ha lesz rá türelmem, még megcsinálom*/
@media only screen and (max-width: 600px) {
    #indexHeader {
        width: 100%;
    }

    #infoBar p {
        font-size: 12px;
    }

    #infoBar div {
        margin-left: 10px;
        margin-right: 10px;
    }
    #closingHours p::before {
        display: none;
    }
    #phoneNumber p::before {
        display: none;
    }
    #location p::before {
        display: none;
    }
    #menuBar {
        flex-wrap: wrap;
        flex-direction: row;
        box-sizing: border-box;
        height: auto;
    }
    #menuBar a {
        font-size: 12px;
        flex: 1;
        height: 20px;
        border-left: 0.5px solid black;
        border-right: 0.5px solid black;
        border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (min-width: 600px) {
    #indexHeader {
        width: 100%;
    }

    #infoBar p {
        font-size: 12px;
    }

    #infoBar div {
        margin-left: 30px;
        margin-right: 30px;
    }

    #menuBar a {
        font-size: 12px;
        padding: 25px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    #menuBar a {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1200px) {
    #indexHeader {
        width: 80%;
    }

    #infoBar p {
        font-size: 16px;
    }

    #infoBar div {
        margin-left: 40px;
        margin-right: 40px;
    }

    #menuBar a {
        padding: 25px;

        font-size: 16px;

        width: 15%;
    }
}


/*index.html*/
/*Introduction szekció*/
#introduction {
    display: flex;

    position: static;

    margin-top: 100px;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#introduction video {
    width: 50%;
    height: fit-content;

    margin: auto;

    margin-left: 100px;

    clear: left;

    position: relative;
}

#introductionText {
    margin-left: 80px;
    margin-right: 80px;

    padding-top: 30px;
    width: 50%;
}
#introductionText strong {
    font-size: 40px;
}
#introductionText #year {
    color: red;
}
#introductionText p {
    text-align: justify;

    font-size: 20px;
}
#introductionText p::first-letter {
    font-size: 24px;
}
#introductionText a[id="selfServiceLink"] {
    /*Talán majd meg kell változtatni*/
    color: red;
}
/*Idézet szekció*/
#quote {
    background-image: url('./img/quoteBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#quote p {
    padding-top: 100px;
    padding-bottom: 100px;

    margin: 0px 0px;
    text-align: center;

    font-size: 50px;

    letter-spacing: 2px;
    word-spacing: 2px;

    color: #fff;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #000;

    text-shadow: 2px 2px 10px #000;
}
#introduction2 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#introduction2Text {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-bottom: 60px;
}
#introduction2Text h3 {
    font-size: 25px;
}
#introduction2Text img {
    display: block;
    margin: auto;
}
#introduction2Text div {
    width: 20%;
    margin-left: 100px;
    margin-right: 100px;
}
#data {
    position: relative;
}
#data::before {
    content: "";
    background-image: url("./img/dataBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%) opacity(0.3);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#dataContent {
    position: relative;

    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #cc8947;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.4px;
}
#dataContent div {
    margin-left: 5%;
    margin-right: 5%;

    text-align: center;
}
#dataContent div h2 {
    font-size: 80px;
    margin-bottom: 0px;
}
#dataContent div p {
    font-size: 30px;
    margin-top: 10px;
}

/*Reszponzivitás*/
@media only screen and (max-width: 600px) {
    #introduction {
        display: block;
    }

    #introduction video {
        margin-left: 0px;
        margin-right: 0px;

        display: block;
        margin: auto;

        width: 100%;
        box-sizing: border-box;
    }

    #introductionText {
        margin-left: 20px;
        margin-right: 20px;

        margin: auto;

        width: 95%;
    }

    #introductionText p:last-of-type {
        margin-bottom: 0px;
        padding-bottom: 30px;
    }

    #introduction2Text {
        display: block;
    }
    #introduction2Text div {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 50px;

        width: 80%;

        margin: auto;
    }
    #data {
        top: -60px;

        padding-bottom: 50px;
    }
    #data::before {
        background-repeat: repeat-y;
        background-size: 100%;
    }
    #dataContent {
        display: block;
        height: fit-content;
    }
}
@media only screen and (min-width: 600px) {
    #introduction {
        display: block;
    }

    #introduction video {
        margin-left: 0px;
        margin-right: 0px;

        display: block;
        margin: auto;
        box-sizing: border-box;

        width: 100%;
    }

    #introductionText {
        margin-left: 20px;
        margin-right: 20px;

        margin: auto;

        width: 95%;
    }

    #introductionText p:last-of-type {
        margin-bottom: 0px;
        padding-bottom: 30px;
    }

    #introduction2Text {
        display: block;
    }
    #introduction2Text div {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 50px;

        width: 80%;

        margin: auto;
    }
    #data {
        top: -60px;

        padding-bottom: 50px;
    }
    #data::before {
        background-repeat: repeat-y;
        background-size: 100%;
    }
    #dataContent {
        display: block;
        height: fit-content;
    }
}
@media only screen and (min-width: 768px) {
    #introduction video {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 10px;

        display: block;
        margin: auto;

        width: 700px;
    }

    #introductionText {
        margin-left: 40px;
        margin-right: 40px;

        width: 90%;
    }
}
@media only screen and (min-width: 1200px) {
    #introduction {
        display: flex;
        align-items: center;
    }

    #introduction video {
        width: 50%;
        height: fit-content;
    
        margin: 0px;
    
        margin-left: 100px;
    
        clear: left;
    
        position: relative;
    }

    #introductionText {
        margin-left: 80px;
        margin-right: 80px;
    
        padding-top: 30px;
        width: 50%;
    }

    #introduction2Text {
        display: flex;
    }
    #introduction2Text div {
        width: 20%;
        margin-left: 100px;
        margin-right: 100px;
    }
    #data {
        top: 0px;

        padding-bottom: 20px;
    }
    #data::before {
        background-repeat: no-repeat;
        background-size: cover;
    }
    #dataContent {
        display: flex;
        height: auto;
    }
}


/*selfService.html*/
/*Cím*/
.title {
    text-align: center;
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#selfServiceText {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 60px;
}

/*Teljes formra kiható*/
#selfServiceForm {
    font-size: 18px;
}
#selfServiceForm li {
    list-style: none;
}
#selfServiceForm legend {
    font-size: 24px;
    font-weight: bold;
}
#selfServiceForm input {
    padding: 7px 7px;
    margin-top: 5px;
    margin-bottom: 5px;

    border: 2px solid #000;
    border-radius: 4px;
}
#selfServiceForm fieldset {
    margin-left: 20px;
    margin-right: 20px;
}

/*Személyes adatok*/
#personalInfo input {
    width: 300px;
}
#personalInfo input:focus {
    animation: borderOnFocus 0.2s;
    animation-fill-mode: forwards;
    border-radius: 4px;

    outline: none;
}

/*Személyes adatok + munkával kapcsolatos kérdések*/
#formInputs {
    display: flex;
    justify-content: center;
}
#formInputs fieldset {
    width: 480px;
}

/*Gombok*/
#inputButtons {
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
}
#inputButtons input {
    width: 511px;

    margin-left: 20px;
    margin-right: 20px;

    background-color: #d4a373;

    font-size: 16px;

    cursor: pointer;
}
#inputButtons input:hover {
    animation: bgColorOnHover 0.4s forwards;
}

/*Border animáció*/
@keyframes borderOnFocus {
    100% {
        border: 2px solid #d4a373;
    }
}

/*Reszponzivitás*/
@media only screen and (max-width: 600px) {
    #formInputs {
        display: block;
    }
    #formInputs fieldset {
        margin: auto;
        margin-bottom: 50px;
        width: 100%;
    }
    #personalInfo input {
        width: 300px;
    }
}
@media only screen and (min-width: 600px) {
    #formInputs {
        display: block;
    }

    #formInputs fieldset {
        margin: auto;
        margin-bottom: 50px;
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    #formInputs fieldset {
        width: 600px;
    }
}
@media only screen and (min-width: 1200px) {
    #formInputs {
        display: flex;
        justify-content: center;
    }
    #formInputs fieldset {
        margin: 0px;
        margin-left: 20px;
        margin-right: 20px;
        width: 480px;
    }
    #personalInfo input {
        width: 300px;
    }
} 


/*kutyaink.html*/
/*A 2 táblázatra vonatkozó beállítások*/
#tablazatok {
    display: flex;
    justify-content: center;
    margin-bottom: 2cm;
}
#tablazatok img {
    border: 1px solid black;
}
#tablazatok th {
    font-size: 25px;
    padding-bottom: 20px;
}
#kutyaktablazat {
    text-align: center;
}
#kutyaktablazat td {
    width: 170px;

    font-size: 18px;
}
#kutyaktablazat td[headers="nev"] {
    font-size: 30px;
    font-weight: bold;
}
#kutyak i {
    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 25px;

    margin-bottom: 40px;
}
#kutyak img {
    width: 400px;
}

/*Reszponzivitás*/
@media only screen and (max-width: 600px) {
    #kutyak i {
        margin-left: 20px;
        margin-right: 20px;
    }
    #tablazatok {
        display: block;
        overflow-x: auto;
    }
    #kutyaktablazat {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 100px;
        padding-left: 0px;
    }
    #kutyak img {
        width: 200px;
    }
}
@media only screen and (min-width: 600px) {
    #kutyak i {
        margin-left: 20px;
        margin-right: 20px;
    }
    #tablazatok {
        display: block;
        overflow-x: auto;
    }
    #kutyak img {
        width: 250px;
    }
}
@media only screen and (min-width: 768px) {
    #kutyak img {
        width: 300px;
    }
}
@media only screen and (min-width: 1200px) {
    #tablazatok {
        display: flex;
    }
    #kutyaktablazat {
        margin-bottom: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
} 


/*kapcsolat.html*/
#contactform > label, input, textarea {
    margin-left: 2cm;
}
#contactform {
    display: flex;
    justify-content: center;
    font-size: 20px;

    margin-bottom: 50px;
}
#contact input, #contact textarea {
    border-radius: 4px;

    outline: none;
}
#contact input:focus, #contact textarea:focus {
    animation: borderOnFocus 0.2s forwards;
}
#contactimage {
    transform: scale(2, 0.5);
    border: 2px solid black;
    border-radius: 20px;
    display: block;
    margin: auto;
}
#contact {
    margin-bottom: 50px;
}
#submitbutton {
    background-color: #d4a373;

    font-size: 16px;

    cursor: pointer;

    border: 2px solid #000;
    border-radius: 4px;

    width: 300px;

    margin-left: 0px;

    display: block;
    margin: auto;
}
#submitbutton:hover {
    animation: bgColorOnHover 0.4s forwards;
}

/*Reszponzivitás*/
@media only screen and (max-width: 600px) {
    #contactimage {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    #contactimage {
        width: 40%;
    }
}


/*Rólunk*/
#aboutUsImage {
    width: 800px;
    clear: both;

    display: block;
    margin: auto;

    margin-top: 50px;

    transform: scale(1.5, 1);

    border: 2px solid black;
    border-radius: 25px;
}
#aboutUs p {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 36px;
}
#aboutUs p::first-letter {
    font-size: 30px;
    font-weight: bold;
}

/*Reszponzivitás*/
@media only screen and (max-width: 600px) {
    #aboutUsImage {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    #aboutUsImage {
        width: 65%;
        transform: scale(1.5, 1.5);
    }
}
@media only screen and (min-width: 768px) {
    #aboutUsImage {
        transform: scale(1.5, 1);
    }
}
@media only screen and (min-width: 1200px) {
    #aboutUsImage {
        width: 45%;
    }
} 

/*Nyomtatási stíluslap*/
@media print {  
    p, #aboutUs p, #aboutUs p::first-letter, #introductionText strong, #introductionText #year, a, a:visited, #introductionText a[id="selfServiceLink"] {
        font-size: 12pt;
        text-shadow: none;
        font-weight: normal;
        color: #000;
    }

    #menuBar, #kutyaktablazat img, #contactimage, #introduction2Text img, #data::before, video, audio, #closingHours p::before, #phoneNumber p::before, #location p::before, #aboutUsImage {
        display: none;
        background-image: none;
    }

    h1, h2, h3, .title {
        page-break-after: avoid;
        font-size: 14pt;
        text-shadow: none;
        color: #000;
    }

    body, #submitbutton, a.active, #name, #quote, #inputButtons input {
        background-color: #fff;
        background-image: none;
    }

    #indexHeader {
        width: 100%;
    }

    #introductionText {
        width: 100%;
        margin: 0pt 0pt;
    }

    #quote p {
        text-shadow: none;
        color: #000;
    }


    @page {
        margin: 2cm;
    }

}


/*searchUsersPage.php*/
#keresesform {
    max-width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgba(146, 146, 146, 0.434);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    align-items: center;
    border: 2px solid #000;
}

#kereseslabel {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#keresesmezo {
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 70px);
    border: 1px solid #000;
}

#keresesgomb {
    width: calc(100% - 400px);

    margin-left: 20px;
    margin-right: 20px;
    background-color: #d4a373;
    font-size: 16px;
    cursor: pointer;
}

#searchResults {
    margin-top: 20px; 
    margin-left: 50px;
    padding: 10px; 
    background-color: #f9f9f9; 
}

.usernames {
    font-size: 18px; 
    font-style: oblique;
    color: black; 
    margin-bottom: 8px;
}

.usernames:hover {
    color: #d4a373; 
    cursor: pointer;
}